.features-container {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 80px;
  background-color: #ffffff;
}
.features1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 411px;
  color: #333333;
}
.features1 h3 {
  color: #b30000;
}
.features1 p {
  color: #333333;
}
