.benefits-container {
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content1, .content2{
    display: flex;
    align-items: center;
    gap: 250px;
    padding: 2rem;
}
.content-title{
    font-size: 32px;
}
.content-para{
    font-size: 22px;
}
#health{
    border-radius: 25px;
    width: 500px;
    height: 380px;
}
.btm-imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
}
.txt-head{
    padding-top: 10px;
    padding-bottom: 10px;
}
.txt1{
    color: #333333;
}
#ggg{
    border-radius: 25px;
}
.banners-writeup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 50px;
    font-size: 40px;
}
.banners-txt{
    font-size: 32px;
}
.banners-txt2{
    font-size: 22px;
    color: #999999;
}
.content-title {
    color: #B30000;
}
.content-para {
    color: #333333;
}
.benefits-container {
    background-color: #FFFFFF;
}
.banners-btn{
    justify-self: center;
}
.btn1{
    justify-self: center;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 50px;
    text-decoration: none;
}
