.footer-container{
    display: flex;
    flex-direction: row;
    gap: 580px;
    align-items: center;
    padding-left: 150px;
    padding-top: 140px;
    padding-bottom: 50px;
}
.footer-logo{
    width: 100px;
    height: 100px;
}
.footer-txts{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.aaa{
    padding-bottom: 5px;
    color: #B30000;
}
.txt-container1 p{
    color: #333333;
    line-height: 20px;
}
.footer-container {
    background-color: #FFFFFF;
}
