.metrics-container {
  display: flex;
  text-align: center;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 256px;
}
.num1{
    font-size: 64px;
}
.num2{
    font-size: 22px;
}